<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/img/logo.PNG">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your codes</title>
    <link rel="stylesheet" href="/css/allText.css"> 
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        
    </style>
</head>
<body>
   <h1>Keep Sharing Guys 😁😎</h1>
    <div class="container">
        <div class="header" style="margin: 20px;">
            <mark><i onclick="window.location.href='/'" style="float: left; cursor: pointer; color: blue; font-weight: bolder;" class="fas fa-arrow-left"></i></mark>
        <h3 style="margin-left: auto;">code: <mark><%-texts[0].userId %></mark></h3>
        </div>
        <div class="loading-spinner" id="loadingSpinner"></div>
        <% if (texts.length > 0) { %>
            <ul class="file-list">
                <p>To Open each <b>code</b>,click on the <span style="color: blue;">View</span>button </p>
                <% texts.forEach(text => { %>
                    <li>
                        <span><%= text.title %></span>
                        <div>
                            <a href="#" class="copy-link" onclick="copyToClipboard('<%= text.text %>')">Copy</a>
                            <a href="/text/single/<%= text._id %>"  class="visit-link">View</a>
                            <a  style="background-color: red; color: white; border-radius: 50%;" href="/text/delete/<%= text._id %>"  class="visit-link"><i class="fas fa-times"></i></a>
                        </div>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>No files found for this user ID.</p>
        <% } %>
        <ul style="border-radius: 20px; list-style: none; text-align: center; margin-left: 30%; margin-right: 20%; ">
            <li  class="new"><a style="background-color: blue; color: white;" href="/"> Share Another</a></li>
        </ul>
    </div>

    <script src="/script/loader.js"></script>
    <%- include('component/messageBox') %>
    <script>
        const msgBox = document.querySelector(".msg");
        setTimeout(() => {
          msgBox.remove();
          }, 3000);
    </script>

    <script>
        const a = document.getElementsByTagName('a');
        a.addEventListener("click",()=>{
            document.getElementById("loadingSpinner").style.display= "block";
        })
        function copyToClipboard(text) {
            navigator.clipboard.writeText(text).then(() => {
                console.log('Link copied to clipboard!');
            }).catch(err => {
                console.error('Failed to copy link:', err);
            });
        }
    </script>
   
</body>
</html>
